section {
  width: 100%
}

.new-tweet {
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

#tweet-text {
  display: block;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
}

#tweet-button {
  font-family: Bungee, sans-serif;
  color: white;
  background-color: #4056A1
}

.counter {
  float: right;
  font-family: Bungee;
}

.redColor {
  color: red; 
}

.error-message {
  visibility: hidden;
}

.error-message-visible {
  width: 100%;
  visibility: visible;
  color: #D8000C;
  background-color: #FFD2D2;
  padding:16px;
  box-shadow:1px 1px 3px #888;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
}





