section {
  width: 100%
}

.new-tweet {
  align-items: center;
  justify-content: center;
}

#tweet-text {
  display: block;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
}

#tweet-button {
  font-family: Bungee, sans-serif;
  color: white;
  background-color: #4056A1
}

.counter {
  float: right;
  font-family: Bungee;
}

.redColor {
  color: red; 
}